/*  Form Edit css  ... this shouldn't really be here */
.toolFloat {
	padding: 5px; border: solid 1px blue; margin:0 auto; width: 35em; background: #ddeeff;
}
div#saveForm {
	text-align:center;
	margin-left:80%;
	background:#ffeecc;
	width:20%;
	border:1px solid #ccc;
}
div#saveForm:hover{
	background:#bbeecc;
	cursor:pointer;
}
#id_label {
	width:100%;
	margin-bottom:10px;
}
#id_conArgs {
	width:325px;
}
.toolFloat input, .digit input {
	float:none;
	width:100px;

}


/* end Form Edit css */

.toolFloat h6 {
	color:#0000ff;
	margin-top:0px;
}


h2.subsection {
	font-size:15px;
	font-weight:bold;
	margin-left:0;
}
.subsection {
	margin-left:15px;
	float:left;
	width:100%;
	clear:both;

}
h2.section {
	font-size:24px;
	border-top:1px solid;
	border-right:1px solid;
	border-left:1px solid;
	padding:10px;
	float:left;
}
div.section {

	padding:5px;

}
textarea {
	width:350px;
	height:100px;
	float:left;
}
textarea:active,textarea:focus {
	background:#ffeecc;
}

.toolFloat {
	
	width:97%;
	padding:10px;
	border:4px solid #bbb;
	margin-top:10px;
	margin:0 auto;
	font-size:15px;
}

.toolFloat input:active, .toolFloat input:focus {
	background:#ffeecc;
}

.dijitContentPane {
	overflow:hidden;
}
#contentNode {
	height:500px;
	width:1000px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.question {
	float:left;
	width:98%;
	padding:5px;
}
.container {
	width:975px;
	padding:5px;

}
#form-style-one .mainForm {

	float:left;
	background:#CDDDED;
}
input, select, label {
	float:left;
}
form p {
	clear:both;
	padding-top:5px;
}
fieldset {
	padding: 0.4em;
	
}


label {
	width:64%;
}
.border {
	
}
.notice, .error, .success {
	padding:0px;
}
.active {
		background:#ffee00;
}

input:active,input:focus {
	background:#ffeecc;
}